<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>p5.js</title>
    <meta name="description" content="p5.js on Glitch">
    <script src="/p5.min.js"></script> 
    <script src="/p5.dom.js"></script>
    <script src="/p5.sound.js"></script>
    <script src="sketch.js"></script>
    <script src="cell.js"></script>
    <script src="ghost.js"></script>
    <script src="pacman.js"></script>
    <script src="explosion.js"></script>
    <script src="message.js"></script>  
  </head>
  <body>
    <header>
      <h1>
        p5.js Demo
      </h1>
    </header>    
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>  
    <script src="https://button.glitch.me/button.js" data-style="glitch"></script>
  </body>
</html>